/* TOP-HEADER */
.top-header{
    background-color: #4ecaff;
}
.top-header i {
    position: absolute;
    font-size: 21px;
    color: #d3f2ff;
}
.top-header p, span, a {
    color: #FFF;
}
.mar .hov:hover i {
    color: black;
}
.mar .hov:hover span {
    color: black;
}
.mar .hov:hover a {
    color: black;
}
.first-i {
    margin-top: 10px;
}
.contant {
    margin-left: 25px;
}
.top-header p {
    margin-top: 10px;
}
.top-header .top-header-i-none i {
    background-color: #d3f2ff;
    color: #4ecaff;
    position: relative;
    margin-left: auto;
    margin-top: 4px;
    padding: 5px;
}
.top-header-i-none {
    display: inline-block;  
    padding-right: 5px;
}
.tc i:hover {
    color: black;
    background-color: #4ecaff; 
}
@media(max-width:767px) {
	.tc {
        text-align: center;
    }
}
.mar {
    margin-left: auto;
    margin-right: auto;
}
.mar .col-md-offset-right-1 {
    min-width: 171px;
}
/* MENU */

.menu {
    border: none;
    background-color: #44b8e9;
    border-radius: 0px;
}
.menu-brand {
    padding: 0;
}
.menu-brand img {
    width: 132px;
    padding-left: 20px;
}
.menu-ul-top {
    margin-top: 10px;
}
@media(max-width:767px){
    .menu-ul-top li {
        padding-top: 15px;
    }
    .menu .menu-collapse .menu-ul-top a {
        display: inline;
    }
}
.menu .menu-collapse .menu-ul-top a {
    color: #FFF;
}
.manu-navbar-header {
    margin-left: 10%;
}