/* TOP-HEADER */
.top-header{
    background-color: #4ecaff;
}
.top-header i {
    position: absolute;
    font-size: 21px;
    color: #d3f2ff;
}
.first-i {
    margin-top: 10px;
}
.contant {
    margin-left: 25px;
}
.top-header p {
    margin-top: 10px;
}
.top-header .top-header-i-none i {
    background-color: #d3f2ff;
    color: #4ecaff;
    position: relative;
    margin-left: auto;
    margin-top: 4px;
    padding: 5px;

}
.top-header-i-none {
    display: inline-block;  
    padding-right: 5px;
}
.mar {
    margin-left: auto;
    margin-right: auto;
}
.mar .col-md-offset-right-1 {
    min-width: 171px;
}
@media(max-width:767px) {
	.tc {
        text-align: center;
    }
}
/* MENU */

.menu {
    border: none;
    background-color: #44b8e9;
}
.menu-brand {
    padding: 0;
}
.menu-brand img {
    width: 132px;
    padding-left: 20px;
}